<!DOCTYPE html>
<html lang="en">



{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <link rel="icon" type="image/png" href="{% static 'Menu/logo/logo.png' %}" sizes="96x96">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'Menu/css/bootstrap/bootstrap.min.css' %}" />

</head>

<body>
    <h1>{{current_subject}}</h1>
    <h2>{{title}}</h2>
    {{richtext| safe }}
</body>

</html>
